/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/eventos
public/ads
public/beteles
public/usuarios
public/iglesias
public/assets
public/hot
public_html/eventos
public_html/storage
public_html/hot
error_log
icarm-back/

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.env
.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
storage/mtm-icarm-firebase-adminsdk-slvt4-d2ce33b31c.json
.qodo
